DJANGO_SETTINGS_MODULE=config.settings.docker
DEBUG=True
SECRET_KEY=votre-secret-key-pour-dev
DATABASE_URL=postgis://vigiedechets:vigiedechets_password@db:5432/vigiedechets
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
# Celery worker settings (optional, defaults shown)
# CELERY_WORKER_CONCURRENCY=<number of CPUs>
# CELERY_WORKER_PREFETCH_MULTIPLIER=4
# CELERY_WORKER_MAX_TASKS_PER_CHILD=<no limit>

DWH_USERNAME=username
DWH_PASSWORD=secretpassword
DWH_PORT=9000
DWH_SSH_HOST=localhost
DWH_SSH_PORT=22
DWH_SSH_USERNAME=sshuser
DWH_SSH_LOCAL_BIND_HOST=0.0.0.0
DWH_SSH_LOCAL_BIND_PORT=12001
DWH_SSH_KEY=INLINE_SSH_PRIVATE_KEY

TD_API_URL="abcd"
TD_API_TOKEN="tk1"

# webhook TD
TD_WEBHOOK_URL=http://api.track.test/webhook
TD_WEBHOOK_TOKEN="tk2"
API_SLUG="other-hard-to-guess-slug"

MONAIOT_OIDC_RP_CLIENT_SECRET=
MONAIOT_OIDC_OP_SERVER_URL=https://aiot.test
PROCONNECT_OIDC_OP_SERVER_URL=https://proconnect.test
PROCONNECT_OIDC_RP_CLIENT_ID=xyz
PROCONNECT_OIDC_RP_CLIENT_SECRET=abcd
ID_ID_CURRASSO=1234

AWS_BUCKET_NAME="buck"
AWS_S3_REGION_NAME="fr-par"
AWS_S3_ENDPOINT_URL="https://s3.test"
PARQUET_BUCKET_NAME="path-to-parquet-bucket"
AWS_S3_ACCESS_KEY_ID="ABCD"
AWS_S3_SECRET_ACCESS_KEY="1234"

ALLOWED_USER_FOR_SENTINEL=""