{% extends "base.html" %} 
{% load static %} 
{% block title %} Trops d'essais {% endblock %} 
{% block main %}
<div class="fr-container">
  <section class="td-hero" id="hero">
    <div class="fr-grid-row">
      <div class="fr-col-md-12 fr-col-12 fr-col-md-offset-1 td-hero__text">
        <p class="text-center">
          Vous avez tentez de recupérer votre mot de passe trop de fois.
          Veuillez réessayer plus tard.
        </p>
        <p class="text-center">Retour à l' <a href="/">accueil</a></p>
      </div>
    </div>
  </section>
</div>
{% endblock main %}
