<tr class="bsd-table-row">
    <td>
        <span class="fr-text--sm" title="{{ bsd.received_at|default:'' }}">{{ bsd.received_at|slice:":10"|default:"—"}}</span>
    </td>
    <td>
        <span class="fr-text--sm" title="{{ bsd.emitted_at|default:'' }}">{{ bsd.emitted_at|slice:":10"|default:"—"}}</span>
    </td>
    <td>
        <span class="fr-text--sm">{{ bsd.readable_id }}</span>
    </td>
    <td>
        <span class="fr-text--sm">{{ bsd.emitter.company.gerepId|default:"—" }}</span>
    </td>
    <td>
        <span class="fr-text--sm" title="{{ bsd.intermediaries.0.name|default:'' }}">{{bsd.intermediaries.0.name|default:"—"|truncatechars:20 }}</span>
    </td>
    <td>
        <span class="fr-text--sm" title="{{ bsd.destination.company.name|default:'' }}">{{bsd.destination.company.name|default:"—"|truncatechars:20 }}</span>
    </td>
    <td>
        <span class="fr-text--sm">{{ bsd.waste_details.code|default:"—" }}</span>
    </td>
    <td>
        <span class="fr-text--sm">{{ bsd.waste_details.weight|default:"—" }} t</span>
    </td>
    <td>
        <form hx-post="{% url 'bordereau_single_bsd_pdf_download' %}" hx-indicator="#id_bsd_spinner-{{ bsd.id }}">
            {% csrf_token %}
            <input type="hidden" value="{{ bsd.id }}" name="bsd_id" />
            <input type="hidden" value="{{ bsd.bsd_type }}" name="bsd_type" />
            <input type="hidden" value="{{ bsd.readable_id }}" name="bsd_readable_id" />
            <input type="hidden" value="{{ request_type }}" name="request_type" />
            <input type="hidden" name="siret" value="{{ search_params.siret }}" />
            <input type="hidden" name="plate" value="{{ search_params.plate }}" />
            <input type="hidden" name="adr" value="{{ bsd.adr }}" />
            <input type="hidden" name="weight" value="{{ bsd.waste_details.weight }}" />
            <input type="hidden" name="waste_code" value="{{ bsd.waste_details.code }}" />
            <input type="hidden" name="packagings" value="{{ bsd.packagings }}" />
            <button type="submit" class="fr-btn fr-btn--secondary fr-btn--sm"
                title="Télécharger le PDF {{ bsd.readable_id }}">
                <span class="fr-icon-download-line" aria-hidden="true" style="--icon-size: 1rem;"></span>
                <span class="bsd-card__content__spinner fr-icon-refresh-line" id="id_bsd_spinner-{{ bsd.id }}"
                    aria-hidden="true" style="--icon-size: 1rem; margin-left: 0.5rem;"></span>
            </button>
        </form>
    </td>
    <td>
        {% if bsd.grouping_list %}
        <form action="{% url 'bordereau_pdf_bundle' %}" method="post" style="margin: 0;">
            {% csrf_token %}
            <input type="hidden" name="is_grouping" value="true" />
            <input type="hidden" name="parent_readable_id" value="{{ bsd.readable_id }}" />
            <!-- Parent -->
            <input type="hidden" name="bsd_ids[]" value="{{ bsd.id }}" />
            <input type="hidden" name="bsd_types[]" value="{{ bsd.bsd_type }}" />
            <input type="hidden" name="readable_ids[]" value="{{ bsd.readable_id }}" />
            <input type="hidden" name="waste_codes[]" value="{{ bsd.waste_details.code }}" />
            <input type="hidden" name="weights[]" value="{{ bsd.waste_details.weight }}" />
            <input type="hidden" name="adr_codes[]" value="{{ bsd.adr|default_if_none:'' }}" />
            <input type="hidden" name="packagings[]" value="{{ bsd.packagings|default_if_none:'' }}" />
            <!-- Enfants -->
            {% for child in bsd.grouping_list %}
            <input type="hidden" name="bsd_ids[]" value="{{ child.id }}" />
            <input type="hidden" name="bsd_types[]" value="{{ bsd.bsd_type }}" />
            <input type="hidden" name="readable_ids[]" value="{{ child.id }}" />
            <input type="hidden" name="waste_codes[]" value="{{ child.waste.code|default_if_none:'' }}" />
            <input type="hidden" name="weights[]" value="" />
            <input type="hidden" name="adr_codes[]" value="" />
            <input type="hidden" name="packagings[]" value="" />
            {% endfor %}
            <button type="submit" class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-left fr-icon-download-line"
                title="Télécharger le dossier complet">
                {{ bsd.grouping_list|length|add:1 }} PDF
            </button>
        </form>
        {% else %}
        <span class="fr-text--sm"></span>
        {% endif %}
    </td>
</tr>
<style>
    .bsd-table-row td {
        padding: 0.5rem 0.25rem;
        border-bottom: 1px solid #dddddd;
    }
</style>