<div>
  <h1>{{ page.title }}</h1>

  <div class="fr-mt-2w">
    <hr>
    {% for block in page.blocks.all %}
      <div>
        {{ block.enriched_content|safe }}{# content is sanitized #}
      </div>
      {% if block.image %}
        <div class="text-center fr-mt-1w fr-mb-1w">
          <img src="{{ block.image.url }}" alt="" width="500">
        </div>
      {% endif %}


      {% if block.video_source %}
        <div class="text-center fr-mt-1w fr-mb-1w">
          <iframe width="560" height="315" src="{{ block.video_source }}"
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      {% endif %}
    {% endfor %}

  </div>


  {% if suggested_pages %}
    <hr class="fr-mt-4w">
    <div class="fr-mt-4w">
      <div class="fr-highlight">
        <h3>Ces pages pourraient vous intéresser :</h3>
        {% for suggestion in suggested_pages %}
          <p class="fr-text--lg">
            <a href="#"
               class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
               hx-get="{% url 'faq_page' suggestion.linked_page.pk %}"
               hx-target="#faq-content">
              {{ suggestion.linked_page.title }}
            </a>
          </p>
        {% endfor %}
      </div>
    </div>
  {% endif %}


</div>
